<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <form return=false>


    <label>number</label>
    <input type="text" value="" id="number"><br>


    <label>title</label>
    <input type="text" value="" id="title"><br>

    <label>grade</label>
    <input type="text" value="" id="grade"><br>

    <label>uss</label>
    <input type="number" value="" id="uss"><br>

    <label>ars</label>
    <input type="number" value="" id="ars"><br>

    <label>language</label>
    <input type="text" value="" id="language"><br>

    <label>note</label>
    <input type="text" value="" id="note"><br>

    <p>
      <button id="action" class="button">Add issue</button>
    </p>

  </form>

  <a href="/">back to home</a>

  <script src="/javascripts/add.js"></script>


</body>

</html>