<!DOCTYPE html>
<html>
  <head>
    <title>Operation successful!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>success</p>

<a href="/">Now go back to home</a>
  </body>
</html>
